/* General formatting */
body {
	padding: 0 10px;
	font: 18px/1.5 -apple-system, BlinkMacSystemFont, "avenir next",avenir, "Segoe UI", "lucida grande", "helvetica neue", helvetica, "Fira Sans",roboto, noto, "Droid Sans", cantarell, oxygen, ubuntu, "franklin gothic medium", "century gothic", "Liberation Sans",
	sans-serif;
}

h1, h2, h3 {
	line-height: 1.2
}

/* Narrow Column */
.content-column {
	max-width: 65%;
	margin: 40px auto;
}

/* Full-width and Full-height */
.vis-holder {
	width: 80%;
	margin: 0 auto;
	display: flex; 
	flex-flow: row wrap;
	justify-content: space-evenly;
	align-items: stretch;
	align-content: space-around;
	row-gap: 15px;
	padding: 15px;
  }

.tooltip {
	position: absolute;
	text-align: left;
	padding: 5px;
	font: 8px sans-serif;
	background: lightsteelblue;
	border: 0px;
	border-radius: 0px;
  }
